/.idea/
Java Functional Programming/.idea/.gitignore
Java Functional Programming/.idea/.name
Java Functional Programming/.idea/ZeppelinRemoteNotebooks/
Java Functional Programming/.idea/codeStyles/
Java Functional Programming/.idea/compiler.xml
Java Functional Programming/.idea/misc.xml
Java Functional Programming/.idea/sbt.xml
Java Functional Programming/.idea/uiDesigner.xml
Java Functional Programming/.idea/vcs.xml
Java Functional Programming/JFP.iml
Java Functional Programming/target/
/WebTechnology/WebstormProjects/untitled/.idea/
!/StudyScala/SimpleWorkSheet.sc
/StudyScala/target/
/StudyScala/project/
/StudyScala/.idea/
/DiscretMath/target/
/DiscretMath/DiscretMath.iml
/Digital Image Processin Algorythms/vectora/src/
/Java Functional/target/
/Java Functional/Java Functional.iml
